@model IList<Dist_Lab2.ViewModels.InboxTitles>
@{
    ViewBag.Title = "Inbox Page";
}

<h2>@ViewBag.Title.</h2>
<h4>Check your inbox here</h4>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <table class="table">
        <tr>
            <th style="width: 180px">
                <input type="submit" name="submit" value="Read" class="btn btn-default"/>
                <input type="submit" name="submit" value="Delete" class="btn btn-default"/>
            </th>
            <th>
                <h4>
                    <u>
                        Title
                    </u>   
                </h4>
            </th>
            <th>
                <h4>
                    <u>
                        Time
                    </u>
                </h4>
            </th>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td >
                    <div class="checkbox" style="margin-top: -2px; margin-right: 15px">
                        <label>
                            @Html.HiddenFor(m => m[i].MessageId)
                            @Html.CheckBoxFor(m => m[i].Selected)
                        </label>
                    </div>
                </td>
                <td>
                    @if (Model.ElementAt(i).Status.Equals("UNREAD"))
                    {
                        <strong>
                            @Html.DisplayFor(modelItem => modelItem[i].Title)
                        </strong>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => modelItem[i].Title)
                    }
                </td>
                <td>
                    @if (Model.ElementAt(i).Status.Equals("UNREAD"))
                    {
                        <strong>
                            @Html.DisplayFor(modelItem => modelItem[i].Time)
                        </strong>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => modelItem[i].Time)
                    }
                </td>
                <td>
                    <strong>
                        @Html.ActionLink("Read", "MessageContent", new {messageId = Model.ElementAt(i).MessageId})
                    </strong>
                </td>
            </tr>
        }
    </table>
}

<hr />

<h4>
    <a href="#" onclick="history.back(); return false;">Click here to go back</a>
</h4>