@model IEnumerable<Dist_Lab2.ViewModels.InboxTitles>
@{
    ViewBag.Title = "Inbox Page";
}

<h2>@ViewBag.Title.</h2>
<h4>Check your inbox here</h4>

<hr />


<table class="table">
    <tr>
        <th>@Html.ActionLink("Mark as Read", null) |
        @Html.ActionLink("Remove", null)</th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Title)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var message in Model)
    {
        <tr>
            <td >CHEKCOBKC HERE</td>
            <td>
                @Html.DisplayFor(modelItem => message.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => message.Time)
            </td>
            <td>
                @Html.ActionLink("Read", "MessageContent", new { messageId = message.MessageId })
            </td>
        </tr>
    }
</table>
